/* Login.module.css */
.loginPageContainer {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("background.jpg");
  }
  
  .loginFormContainer {
    width: 400px;
    background: #fff;
    border: 1px solid #ffffff;
    box-shadow: 0 2px 4px rgb(0 0 10 / 64%), 0 8px 16px rgb(0 10 0 / 34%);
    border-radius: 8px;
    padding: 1rem;
    align-items: center;
    text-align: center;
  }
  
  .loginFormInput {
    border-radius: 20px;
    border: 2px solid rgb(255, 255, 255);
    outline: none;
    color: #101217;
    margin: 2% 0;
    width: 90%;
    padding: 12px;
    font-size: 16px;
  }
  